:root {
  --jet: #2a2b2eff;
  --davys-gray: #5a5a66ff;
  --cambridge-blue: #a4c2a8ff;
  --light-green: #aceb98ff;
  --screamin-green: #87ff65ff;

  --shadow: #1d5196;
  --border: #041f41;
  --main: #00377e;
  --svgmain: #7696bf;
  --title: #00377e;
  --background: #00377e;
  --text: #e3e3ef;

  padding: 2em;
  padding-top: 4em;

  background-color: #e5e5f7;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #2f338a, #e5e5f7),
    repeating-radial-gradient(
      circle at center center,
      #2f338a,
      #2f338a,
      19px,
      transparent 38px,
      transparent 19px
    );
  background-blend-mode: multiply;
}

BODY,
H2,
H3,
H4,
H5,
H6,
TH,
TD {
  font-family: arial, helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

H1 {
  font-size: 3em;
  font-family: arial, helvetica, sans-serif;
  font-weight: bolder;
  background-color: var(--title);
  border-radius: 0.05em;
  padding: 0.1em 0.5em 0.1em 0.5em;
  box-shadow: 0em 0em 25px var(--shadow);
  text-shadow: 0em 0em 1px var(--shadow);
}

.flex {
  display: flex;
  row-gap: 1em;
  column-gap: 1em;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

main {
  background-color: var(--main);
  border-radius: 0.25em;
  box-shadow: 0em 0em 0.5em var(--shadow);
  flex-wrap: wrap;
  padding: 1em;
  max-width: 400px;
}

svg {
  border-radius: 0.1em;
  border: 5px solid var(--border);
}

svg rect {
  stroke: black;
  stroke-width: 2px;
}

#svgCanvas {
  background-color: var(--svgmain);
}

#svgPreview {
  background-color: var(--svgmain);
}

#info {
  width: 160px;
  margin-top: 1em;
}

#info > .text {
  font-weight: bold;
}

.left {
  font-size: 1.1em;
  float: left;
}

.right {
  font-size: 1em;
  float: right;
}

#gameOver {
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
}

#restart,
#newGame {
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  margin: 20px;
  background-color: var(--title);
  color: var(--text);
  padding: 0.1em 0.5em 0.1em 0.5em;
  margin-top: 1em;
  box-shadow: 0em 0em 25px var(--shadow);
  text-shadow: 0em 0em 1px var(--shadow);
}

.text {
  font-size: 1.1rem;
  color: var(--text);
}

.hidden {
  display: none;
}

/* GLITCH EFFECT */
.glitch {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--text);

  text-shadow: 0.09em 0 0 rgba(255, 0, 0, 0.75),
    -0.05em -0.005em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

  animation: glitch 300ms infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
